@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div>
        @if (@ViewBag.writerResult != null)
        {
            @ViewBag.writerResult[0].Name
        }
        @if (@ViewBag.Msg != null)
        {
            <h4 style="color:purple">
                <b>  @ViewBag.Msg </b> <br />
            </h4>
        }
        <h1>Add</h1>
        <p>Add a note here:</p>

        <form action="Create" method="post">
            <div class="mb-3" >
                <label class="form-label" for="noteTitle">Title</label>
                <input class="form-control" id="noteTitle" name="noteTitle" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="noteContent">Content</label>
                <input class="form-control" id="noteContent" name="noteContent" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="noteContent">Writer</label>
                <select class="form-select" id="noteWriter" name="noteWriter" asp-items="ViewBag.Writer"></select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="noteTag">Tag</label>
                <input class="form-control" id="noteTag" name="noteTag" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label" for="noteEmotion">Emotion</label>
                <select class="form-select" id="noteEmotion" name="noteEmotion" asp-items="ViewBag.Emotion"></select>
            </div>
          <button class="btn btn-primary" type="submit">Add</button>
          @Html.AntiForgeryToken()
        </form>

        <p><a href="/">Back home</a></p>
        <p><a href="/notes">Back to notes.</a></p>
    </div>
}
