@model IEnumerable<notes_nye.Models.Note>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Note Page";
}

<div class="text-center">
    <h1 class="display-4">List of All Notes</h1>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Writer
            </th>
            <th>
                Tag
            </th>
            <th>
                Emotion
            </th>
            <th>
                Action
            </th>
        </tr>
        
        @foreach (var item in ViewData["notes"] as IList<notes_nye.Models.Note>)
        {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Content
            </td>
            <td>
                @item.Writer
            </td>
            <td>
                @item.Tag
            </td>
            <td>
                @item.Emotion
            </td>
            <td>
                <a class="btn btn-success" href="Note/View/@item.Id">Edit</a>
                <a class="btn btn-danger" href="Note/Delete/@item.Id">Delete</a>    
                @*<button class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </button>*@
                </td>
            </tr>
        }
    </table>
</div>
